/* Rules outside of any media queries apply to all devices (mobile-first). */
html {
  --primary-color: #845ec2;
  --secondary-color: #b39cd0;
  --text-primary-color: #fbeaff;
  --text-secondary-color: #00c9a7;
}

body {
  background: lightseagreen;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
  height: 100vh; /* viewport heights */
}

h1 {
  color: #4c21b5cc ;
  font-size: 3.209em;
  background: linear-gradient(#abb73e70, #7b75d6);
  margin-left: 7em;
  margin-right: 7em;
  border-radius: 6em;
  background-clip: padding-box;
}

h2 {
  font-size: 3.157em;
  margin-top: 1em ;
  margin-bottom: 1em;
  text-align: center;

}

h3 {
  font-size: 2.369em;
}

li,
p,
label,
input,
button {
  font-size: 1.777em;
  color: #00008b
}

figure,
img {
  /* Limit the width of all 'figures' and 'imgs' to be at most 100% of the size of the parent. */
  max-width: 100%;
  width: 50em;
}

header {
  padding: 1rem;
  text-align: center;
  height: 5rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

p {
  margin-top: 5em ;
  /* First number is top and bottom.
    Second number is left and right. */
  padding: 0 2.5rem;
  object-fit: contain;
  align-self: center;
}

form div {
  margin: 0.25rem 0;
  width: 80vw;
  background: #92aac7;

}

label {
  margin-right: 0.25rem;
}

input {
  width: 100%;
}

input[type="radio"] {
  width: 2.5rem;
}

input,
textarea {
  border: solid thin var(--primary-color);
  border-radius: 3px;
  background: #92aac7;
}

footer {
  background: var(--primary-color);
  color: var(--text-primary-color);
  padding: 1.5rem;
  text-align: center;
}

/* Scope this for just #gallery. */
#gallery div {
  border-bottom: solid thin var(--secondary-color);
  margin: 2rem 0;
  padding-bottom: 2rem;
  text-align: center;
}

.align-center {
  align-items: center;
}

.background {
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(152,91,217,1) 100%);

}

.button {
  border-radius: 3px;
  padding: 0.5rem;
}

/* Pseudo-selector */
/* Use focus and hover together for accessibility purposes. */
p:focus,
.button :hover {
  background: aquamarine;
  transition: background 2s ease-in;
}

.button--submit {
  background-color: green;
  color: white;
}

.button a {
  text-decoration: none;
}

/* If your width and height are the same,
  border-radius: 50% will make it look like a circle. */
.button--circle {
  border-radius: 50%;
  height: 8rem;
  width: 8rem;
}
.container-game {
  display: grid;
}
.flex {
  display: flex;
}
.flex--home {
  display: flex;
  justify-content: space-between;
  object-fit: contain;
  margin: 10px 20px 10px 20px;

}

.flex--column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-space-between {
  justify-content: space-between;
}

.text-align-center {
  text-align: center;
}

/* We set a breakpoint of 768px. */
@media screen and (min-width: 768px) {
  .flex--sm {
    /* By default, flexbox puts all the children in a row. */
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    text-align: left;
    object-fit: contain;
    flex-wrap: wrap;


  }
}

@media screen and (min-width: 885px) {
  #hero {
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRe2rG_4fMCFdJttrL05NLdaWvoHJx-Xhy9FygMOq6RE0zIHTjL) top center
      no-repeat;
    background-size: contain;
    height: 50vh;
    width: 100vw;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .flex--md {
    display: flex;
    flex-wrap: wrap;
  }

  /* Direct child selector. */
  #gallery > div {
    width: 50vw;
  }
}
@media screen and (min-width: 1440px) {
  figure {
    margin: 0;
  }

  /* Direct child selector. */
  #gallery > div {
    /* TODO: Look up box-shadow on MDN. */
    border: solid 3px var(--secondary-color);
    border-radius: 0.25rem;
    margin: 2rem 1rem;
    width: calc(33vw - 2rem);
  }
}

.grid-container {
  display: grid;
  grid-template-columns: 33% 67%;
  grid-template-rows: auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(152,91,217,1) 100%);
}

.activity-title {
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
}

.activity-img {
  grid-column-start: 1;
  grid-column-end: 1;
}

.activity-description {
  grid-column-start: 2;
  grid-column-end: 2;
}
.grid-container-games{
  display: grid;
  grid-template-columns: 33% 67%;
  grid-template-rows: auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(152,91,217,1) 100%);
}
}
