/* Rules outside of any media queries apply to all devices (mobile-first). */
html {
  --primary-color: #845ec2;
  --secondary-color: #b39cd0;
  --text-primary-color: #fbeaff;
  --text-secondary-color: #00c9a7;
}
body {
  background-color: lightseagreen;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
  height: 100vh; /* viewport heights */
}
h1 {
  color: navy;
  margin-top: 20em;
}
.flex-grid {
  display: flex;
}
.col {
  flex: 1;
}
